[run]
omit =
    scripts/*
    src/config/*
    src/controllers/*
    src/middlewares/*
    src/models/*
    src/repositories/*
    src/schemas/*
    src/utils/*
    src/main.py
    tests/*
    venv/*

[report]
show_missing = true
fail_under = 100
precision = 1
